<div class = "row">
  <div class="col-md-7 text-center">     
    
      
     <div class="panel panel-default">
       <div class="panel-heading"> Modifier mon profil</div>
         <div class="container">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render'shared/devise_errors'%>
      
        
        <br>
        <div class="form-group">
          Nom complet (prénom+nom) :<%= f.text_field :fullname, autofocus: true, class: "form-control" %>
        </div>
        
        <div class="form-group">
          Adresse email : <%= f.email_field :email, autofocus: true, class: "form-control"%>
        </div>
    
        <div class="row">
         <div class="col-md-6">
           <div class="form-group">
             Modifier ma photo de profil :
              <%= image_tag avatar_url(current_user), class: "img-circle avatar-full" %>
           </div>
         </div>
          <div class="col-md-6">
           <div class="form-group">
              <span class="btn btn-default btn-file">Parcourir <%= f.file_field :avatar %></span>
           </div>
         </div>
        </div>
        
         <div class="form-group">
          Numéro de Téléphone : <%= f.text_field :phone_number, class:"form-control" %>
        </div>
        
         <div class="form-group">
          Présentation : <%= f.text_area :description, rows:5, col:25, class:"form-control" %>
        </div>
        
        <div class="field">
          Nouveau mot de passe : <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Nouveau mdp (si vous souhaitez le changer" %>
          
        </div>
      <br>
        <div class="field">
          Confirmation : <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirmation mdp" %>
        </div>
      <br>
      
        <div class="actions">
          <%= f.submit "Enregistrer", class: "btn btn-primary" %>
        </div>
      <% end %>
           
         </div>
     </div>

  </div>
</div>
